header
{
  height:166px;
  border:3px solid black;
}
nav
{
  border-bottom:3px solid black;
  border-right:3px solid black;
  border-left:3px solid black;
  width:350px;
  float:left;
}
article
{
  border-bottom:3px solid black;
  border-right:3px solid black;
  width:500px;
  height:799.625px;
  float:left;
}
ol
{
  color:red;
}
ul
{
  color:blue;
  text-decoration:underline;
}
#Title
{
  font-size:80px;
  margin:0px;
  padding:30px;
}
